section.bill-amount {
    
    .bill-info-group {
        @include flex(column, nowrap, space-evenly, center);
        height: 0;
        font-size: .8rem;
        overflow: hidden;
        transition: height .3s ease;

        @include break(smedium) {
            flex-direction: row;
        }
        span {
            font-weight: 500;
            color: black;
        }
        &.show {
            margin-top: 1rem;
            height: 35px;
            
            @include break(smedium) {
                height: 17px;
            }
        }
    }
}