.overlay {
    @include bg(rgba(0, 0, 0,0.25));
    @include center-flex;
    color: var(--main-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    transition: opacity 0.5s ease-in-out;
    

    .modal {
        @include bg(white);
        @include radius(1rem);
        @include wrapper(320px);
        opacity: 0;
        position: relative;
        padding: 2rem;
        box-shadow: 0 4px 12px rgba(0,0,0,.25);
        i.fa-x {
            @include radius(.35rem);
            color: var(--main-color);
            position: absolute;
            padding: .5rem .75rem;
            top: 10px;
            right: 15px;
            cursor: pointer;
            transition: background .3s ease;
            &:hover {
                @include bg(var(--btn-bg-color));
            }
        }
        p {
            text-align: center;
            margin-bottom: 1.5rem;
        }
        button {
            @include bg(var(--main-theme));
            margin-top: 1rem;
            opacity: 1;
            pointer-events: auto;
            transition: opacity .3s ease, color .3s ease;
            &:hover {
                color: white;
            }
            &.disabled {
                @include bg(var(--btn-bg-color));
                opacity: 0.25;
                pointer-events: none;
            }
        }
    }

    &.show {
        opacity: 1;
        .modal {
            animation: slideInUp .6s ease forwards;
            opacity: 1;
        }
    }
}